.nav__a{
    font-family: DM Sans;
}
.basketbol__h1{
    font-family: open;
}
.about__h4{
    font-family: DM Sans;
}
.btn__span{
    font-family: DM Sans;
}
.about__h4{
    font-family: DM Sans;
}
.news-left__h4{
    font-family: DM Sans;
}
.news-left__p{
    font-family: DM Sans;
}
.news-left__p2{
    font-family: open;
}
.sports__title{
    font-family: open;
}
.sports__football{
    font-family: DM Sans;
}
.sports__basket{
    font-family: DM Sans;
}
.sports__ping{
    font-family: DM Sans;
}
.trending-news__title{
    font-family: open;
}
.news__p{
    font-family: DM Sans;
}
.news__h3{
    font-family: open;
}
.news__p2{
    font-family: DM Sans;
}
.news-left__p{
    font-family: DM Sans;
}
.news-left__h4{
    font-family: open;
}
.div__p1{
    font-family: DM Sans;
}
.football-center__p{
    font-family: DM Sans;
}
.football-center__data{
    font-family: DM Sans;
}
.football-center__about{
    font-family: open;
}
.football-center__p2{
    font-family: DM Sans;
}
.recent-news__title{
    font-family: open;
}
.karate__p{
    font-family: DM Sans;
}
.karate__h4{
    font-family: serif;
}
.about__p{
    font-family: DM Sans;
}
.about__h5{
    font-family: open;
}
.table-title{
    font-family: open;
}
.th{
    font-family: open;
}
.td__span .td__span2{
    font-family: open;
}
.coments__title{
    font-family: open;
}
.card__p{
    font-family: DM Sans;
}
.card__p2{
    font-family: Roboto;
}
.card__data{
    font-family: DM Sans;
}
.card__h4{
    font-family: open;
}
.card__p3{
    font-family: DM Sans;
}
.subscription__h2{
    font-family: DM Sans;
}