header{
    background-color: #F9FAFC;
}
nav{
    background-color: white;
}
.nav__a{
    color: #7D7D7D;
    &:hover{
        color: #262626;
    }
}
.nav__btn{
    background-color: #B8C2CE;
}
.btn__p{
    color: white;
}
.basketboll__h1{
    background: linear-gradient(to top, #B8C2CE, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about__btn{
    background-color: #262626;
    color: white;
}
.news-left__h4{
    background-color: #E1E8F0;
    color: #B8C2CE;
}
.news-left__p{
    color: #737374;
}
.news-left__p2{
    color: #262626;
}
main{
    background-color: #F9FAFC;
}
.sports__football{
    background: linear-gradient(to top, #B8C2CE, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sports__basket{
    background: linear-gradient(to top, #B8C2CE, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sports__ping{
    background: linear-gradient(to top, #B8C2CE, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.basket__span{
    background: linear-gradient(to top, #B8C2CE, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.news__p{
    color: #26262699;
}
.news__h3{
    color: #262626;
}
.news__p2{
    color: #696868;
}
.sport-cycling{
    background-color: #EBEEF3;
}
.div-line{
    background-color: #B8C2CE;
}
.div__p{
    color: white;
}
.news-left__h3{
    color: white;
}
.div__p1{
    color: white;
}
.football-center__div{
    color: white;
}
.football__btn{
    background-color: #F1F3F7;
}
.btn1{
    background-color: #BAB8B8;
    &:hover{
        background-color: #262626;
    }
}
.btn2{
    background-color: #F1F3F7;
    &:hover{
        background-color: #262626;
        color: white;
    }
}
.about__p{
    color: #26262699;
}
.karate__p{
    color: #EBEEF3;
}
.karate__h4{
    color: #EBEEF3;
}
.recent-news-center{
    background-color: #EBEEF3;
}
.recent-news-center__btn{
    background-color: #B8C2CE;
    color: white;
    &:hover{
        background-color: #262626;
    }
}
.th{
    color: #262626;
}
tr{
    outline: #B8C2CE;
}
table {
    background-color: #EBEEF3;
}
.card__p{
    color: #EBEEF3;
    border: solid 1px white;
}
.card__data{
    color: #26262699;
}
.card__p3{
    color: #696868;
}
.btn3{
    background-color: #BAB8B8;
    &:hover{
        background-color: #262626;
    }
}
.btn4{
    background-color: #BAB8B8;
    &:hover{
        background-color: #262626;
    }
}
footer{
    background-color: #F9FAFC;
}
.subscription__h2{
    background: linear-gradient(to top, #B8C2CE, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn5{
    background-color: black;
}
.input{
    background-color: transparent;
}
.football{
    background-color: #EBEEF3;
}
.football1{
    background-color: #EBEEF3;
}
.football2{
    background-color: #EBEEF3;
}